<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduling events</title>
  <!-- <script src="{{ url_for('static', filename='ajax.js') }}"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script>
    var configData = JSON.parse({{ config_app|tojson }});
    // Обработать конфигурацию хз, пока надо ли... Возможно надо всё в бэк
    console.log(configData);
</script>
</head>
<body>
  <header>Планировщик задач 1.0</header>
  <nav>
    <ul>
      <li><a href="#">Информация</a></li>
      <li><a href="#">Планировщик</a></li>
    </ul>
    <button class="logout">Выход</button>
  </nav>
  <main>
    <div class="body">
      <form action="/" method="post">
        <div class="inputs">
          <label for="startTime">Дата и время начала работ:</label>
            <input type="datetime-local" id="startTime" name="startTime" required>

          <label for="durationTime">Длительность работ:</label>
            <input type="datetime-local" id="durationTime" name="durationTime"  required>

          <label for="deadline">Дедлайн:</label>
            <input type="date" id="deadline" name="deadline" required>

          <label for="zones">Зона доступности:</label>
            <select id="zones" name="zones">
              {% for option in data.zones %}
                <option value="{{ option }}">{{ option }}</option>
              {% endfor %}
            </select>

          <label for="typeofWork">Тип работ:</label>
            <select id="typeofWork" name="typeofWork">
              <option value="auto">автоматические</option>
              <option value="handmade">ручные</option>
            </select>

          <label for="workPriority">Приоритет работ:</label>
            <select id="workPriority" name="workPriority">
              <option value="general">обычные</option>
              <option value="critical">критические</option>
            </select>

          <!-- <label for="workInterval">Итервал проведения работ:</label>
          <select id="workInterval" name="workInterval">
              <option value="once">один раз</option>
              <option value="daily">каждый день</option>
              <option value="weekly">каждую неделю</option>
              <option value="monthly">каждый месяц</option>
          </select> -->

        </div>
        <input type="submit" value="Отправить">
      </form>
    </div>
    </form>
  </main>
  <!-- <footer>
  </footer> -->
</body>
</html>
