<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scheduling events</title>
</head>
<body>
  <h1>Ввод данных</h1>
  <form action="/" method="post">
    <label for="startTime">Дата и время начала работ:</label>
    <input type="datetime-local" id="startTime" name="startTime" required>
    <br><br>
    <label for="endTime">Длительность работ:</label>
    <input type="datetime-local" id="endTime" name="endTime" required>
    <br><br>
    <!-- <label for="deadline">Дедлайн:</label>
    <input type="deadline" id="deadline" name="deadline" required>
    <br><br>
    <label for="zones">Список зон доступности, в которых будут проводиться работы:</label>
    <input type="zones" id="zones" name="zones" required>
    <br><br>
    <label for="typeofWork">Тип работ:</label>
    <select id="typeofWork" name="typeofWork">
      <option value="null">...</option>
      <option value="auto">автоматические</option>
      <option value="handmade">ручные</option>
    </select>
    <br><br>
    <label for="workPriority">Приоритет работ:</label>
    <select id="workPriority" name="workPriority">
      <option value="null">...</option>
      <option value="general">обычные</option>
      <option value="critical">критические</option>
    </select> -->
    <input type="submit" value="Отправить">
  </form>
</body>
</html>
